.navHoverAnim {
  color: grey;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1.0);
}

.navHoverAnim:hover {
  color: white;
  transform: scale(1.1);
}

.showMoreHoverAnim {
  color: #FFFFC5;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1.0);
}

.showMoreHoverAnim:hover {
  color: #550000;
  background-color: #FFFFC5;
  transform: scale(1.1);
}

.infoHoverAnim {
  color: maroon;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1.0);
}

.infoHoverAnim:hover {
  color: #FFFFC5;
  background-color: maroon;
  transform: scale(1.1);
}

.fadeInPopImage {
  opacity: 0;
}

.fadeInPopImage.show {
  animation: fadeInAndPop 1s ease forwards;
}
@keyframes fadeInAndPop {
  0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}

.big-container {
  display:flex; flex-direction: row; justify-content:space-evenly;
}

strong {font-weight: bolder; color:maroon}

.ooter-blitz, .ooter-blitz li {line-height: 2.5rem;}

#deuce-deuce{text-align: center; padding-top: 5px;}


@media (min-width:576px){
  #deuce-deuce{display:none}

  #nithik {padding-top:10px}
}

#wsg {font-weight: 650; color:purple; text-decoration: none;}

#offcanvasNavbarLabel {
  color:#561c31
}

.nav-item{
  font-weight: 500;
}

.container-fluid {background-color:#ffff75; min-height: 0px; border-radius: 3px;}

.background {
  width:100%;
  background-color: #561c31;
}

.accordion {
  padding-top: 10px;;
}

.accordion-button {border-radius: 8px;}
 
footer .embedded, footer .embedded-footer {
  visibility: hidden;
}

footer {
  background-color: #78495a; text-align: left; padding-left: 20px; color:white;
  line-height: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin-top:100px;
  border-radius: 1px;
 font-size: 1.5rem;
 width:100%;
}

footer .embedded img{
  height:30px;
  
}

.embedded p {padding-bottom: 10px;}

nav a {margin-left:5px}

@keyframes slideLeftAnim {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);  
    opacity: 1;
  }
}

.slideLeftBox {
  animation: slideLeftAnim 2s forwards;
  position: relative;
  z-index: -10;
}

@keyframes slideRightAnim {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);  
    opacity: 1;
  }
}

.slideRightBox {
  animation: slideRightAnim 2s forwards;
  position: relative;
  z-index: -10;
}

.image-container-homepage {
    z-index: 1000;
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    line-height: 3rem;
    width:100%;
    background-size:contain;
    background-repeat: no-repeat; 
    position:relative;
  }

  .image-container-homepage{
    opacity: 0.9;
  }
  .image-homepage{
    opacity: 1;
  }
#blud {
  font-size: 1.75rem;
  color:#561c31;
  margin-bottom: 20px;
  line-height: 0rem;
}

#blud:hover {
  font-weight: bolder;
  color:#ffe49c;
}

#insta {
  width:70px;
  margin-left: 50px;
  text-decoration: none;
}

#insta:hover{
  filter:blur(5px);
}

#pluh{
  font-size: 1.6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  margin-left: 20px;
  padding-bottom: 10px;
  visibility: hidden;
}

@keyframes theFade {
  from { opacity: 0;}
  to { opacity: 1; }
}

.theFade {
  animation: fadeIn 0.25s ease-in-out forwards;
}

.image-homepage{
  animation-name:theFade;
  animation-duration:1s;
  animation-timing-function: linear;

}
  
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-bar {
  position: relative;
  height: 0;
}


.the_description {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.d1 {
  text-align: justify;
}

.ooter-blitz{
  text-align: center;
}

#cccyg{
  text-align: center;
}


@media (min-width:756px){

  #cccyg {
    text-align: justify;
  }
  .the_description{
    text-align: justify;
  }
  .ooter-blitz{
    text-align: center;
  }
}

.navbar-brand {color:#561c31; font-weight: bolder; font-size: max(2.5vw,1.2rem); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

.navbar-brand:hover {color:#561c31;}

.navbar-brand:after {color:#561c31;}

.navbar-brand:isclicked {color:#561c31;}


.offcanvas-body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: max(1.5vw, 1.5rem);
  line-height: 1.5rem;
}

#offcanvasNavbarLabel {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: max(1.5vw, 1.5rem);
  font-weight: bolder;}

.bobcats-logo {
  height:5vw;
}

@media (max-width:576px){
  .navbar-brand {display:none}
  #navbar-small {display:contents; font-size: 0.90rem;}
  .bobcats-logo {display:none;}
  .gautam1, .gautam2 {text-align: center;}
}

.embedded{
  float:left;
margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.embedded img{
  padding-left: 7px;
}

.embedded a:hover {
  filter: blur(8px);
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

@media (min-width:576px){
  #navbar-small{display:none}
}

#offcanvasNavbar {
  opacity: 0.90;
  border-radius: 10px;}

#labels {
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
  font-weight: bolder;
}

#luh {
  background-color: #B31B1B;
  height:9vw;
  margin-top: 0px;
  margin-bottom: auto;
  width:9vw
}

@media (min-width:700px){
  #luh {
    height:6vw;
    margin-top: 0px;
    margin-bottom: auto;
    width:6vw
  }
}

#gautam {
  margin: 0px;
  text-justify: auto;
}

footer .Address {
  font-size: 1.35rem;
  line-height: 2rem;
  padding-top: 10px;
}

footer img {float:right; height:220px; padding-right: 20px;}

.nav-link active {text-decoration: underline;
font-weight: bolder;
}

@media (min-width:1000px){
  nav-link{padding-bottom: 10px;}
}


nav-item {color:#561c31}

nav a:hover {
  font-weight: 800;
  color:#ffff00;
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeInAnimation {
  animation: fadeIn 1s ease-in-out forwards
}


/*Implement*/

.clutch{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card img {
  height:10vw;
}

.chiefsosa{
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-top: 15px;
}


.card {
  border: 7px solid #561c31;
  border-radius: 15px;
  background-color: #fffbef;
} 

.clutch p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
}

#banner {
  position:relative;
  width: 70vw;
  opacity:0;
  color: #fffbef;
   z-index: 800;  
  font-size: 7vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 7vw;
  font-weight: bold;
  text-align: center;
  animation: fadeInAnimation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moveToRight {
  0% {
      transform: translateX(-1000px);
  }
  100% {
      transform: translateX(0px);
  }
}

@keyframes moveToLeft {
  0% {
      transform: translateX(-1000px);
  }
  100% {
      transform: translateX(0px);
  }
}

@keyframes movetoRight {
  0% {
      transform: translateX(1000px);
  }
  100% {
      transform: translateX(0px);
  }
}

.gautam1, .noah2 {
  animation: movetoRight 1s ease-in-out;
  animation-delay: 10ms;
}

.gautam2, .noah1 {
  animation: moveToLeft 1s ease-in-out;
  animation-delay: 10ms;
}

@media (max-width:635px){
#jawn {display:none;}
#banner {padding-top: 50px;}
}

#jawn {
  width:min(18vw,160px);
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color:#ffff00;
  border-color: #ffff75;
  border-radius: 8px;
  border-width: 3px;
}

li.nav-item{
  padding-top: 3px;
}

#cuh {
  padding-top: -3px;
}

#jawn:hover {
  background-color: #ffff75;
  color:#561c31;
}

html {width:100%;}

@media (max-width:635){
  #jawn{font-size: 2vw;}
}


@media (min-width:768){
  #jawn{ font-size: 3vw
 }}

 @media (min-width:1000){
  #jawn{ font-size: 5vw
 }}

/*
@media (max-width:500px){
  .sponsors {flex-direction: column; justify-content: center;}
  .sponsors img {width:5vw; margin-top: 20px; margin-right: auto; margin-left: auto;}
}*/


.sponsors a:hover {
  filter: blur(8px);
}

hr {
  border-top: 8px solid #561c31; 
}

#the_block{
  text-align: center;
  color:#561c31;
  font-size: 1.8rem;
  font-weight: bolder;
  margin-top: -100px;
}

h3 {
  text-decoration: underline;
  font-weight: bolder;
  color: #561c31;
  font-size: 1.9rem;
  padding-bottom: 20px;
  text-align: center;
}

@media (max-width:500px){
  O-Block{
    display:none;
  }
}

/* The following is a critical security feature for the website */


p, h3, #banner, li, a {-webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  
  }

img {
    pointer-events: none;
}

.ApplyClass {text-align: center;}


nav, body, #wrapper{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.sponsors img {
  pointer-events: all;
}

.sponsor_descriptions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.d1 {
  width:28%;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.2rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.big-container {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.theKraus {
  width:25%;
}

.theKraus img {
  margin-left: auto;
  margin-right: auto;
  display:block;
  margin-bottom: -20px;
}

.theKraus a {
  text-align: center;
  display:block;
}

#odee {display:none}

@media (max-width:700px){
  .big-container {
    flex-direction: column;
  }

  

  .theKraus {
    text-align: center;
    margin-bottom: 50px;
    width:100%;
  }
}


/*
@media (max-width:500px){
  .sponsors {display:flex; flex-direction:column-reverse;}
  .sponsors img {margin-right: auto; margin-left: auto; float: right; width:25vw; padding-bottom: 10px;}
  .s1, .s2 { justify-content: center; align-items: center; margin-right: auto; margin-left: auto;}
} */

/* Media query for mobile site */
@media (max-width:576px){
  #mabu {display:none}
  .sponsors {display:none}
  .sponsor_descriptions{display:none;}
  #the_block{ font-size: 2rem;}
  #flick {display:none}
  #mockingbird {display:none}
  #shooter{display:none;}
}


/* Media query for desktop site */
@media (min-width:576px){
  .slideshow{display:none}
  .sponsors{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:fit-content;
  }

  .sponsors img{width:auto; height: auto; object-fit: contain;
     margin-left: auto; margin-right: auto; display:block;
     margin-top: auto; margin-bottom: auto;

     /* Center image vertically */
    height:100%; 
    max-height: 200px;
    }

    .sponsors img {max-width:87%}
    .sponsors img {max-height:95%}
  
    
  .s1{width:33.3%; height: 9vw;
  }

  #knock {display:none}
}

;
#parkway-gardens:hover {
  color:#ffe49c
}

#parkway-gardens {
  text-decoration: underline;
}

@media (min-width:1372){
  .the_description{margin-top: 40px;}
}

/*Slideshow controls */
.slideshow {width:100%; margin-right: auto; margin-left: auto; height:17vw}
.slideshow img{
  height: 17vw; max-width:70% ;object-fit: contain; margin-left: auto; 
  margin-right: auto; margin-top: auto; margin-bottom: auto;
}

